/*Index Page */

body {
    background-color: #00203FFF;
    font-size: 15px;
}

#menu {
    overflow: hidden;
}

#menu a {
    float: left;
    color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

#menu li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu a:hover {
    background-color: #ddd;
    color: black;
}

#menu a.active {
    background-color: #00203FFF;
    color: white;
}

.logo-img {
    float: right;
    position: relative;
    margin: 10px 15px 15px 10px;
}

#company_name {
    font-family: sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #e41414af;
    text-align: center;
}

#aboutus_container {
    padding: 5px;
    margin: 10px;
}

#aboutus_container h2 {
    font-family: sans-serif;
    font-size: x-large;
    font-weight: bolder;
    color: #ddd;
    font-weight: bolder;
}

#aboutus_container p {
    font-family: sans-serif;
    font-size: medium;
    font-style: normal;
    color: #ADEFD1FF
}

#login_container {
    padding: 5px;
    margin: 10px;
}

#login_container h2 {
    font-family: sans-serif;
    font-size: x-large;
    font-weight: bolder;
    color: #ddd;
    font-weight: bolder;
}

#login_container legend {
    font-weight: bold;
    color: white;
    padding: 5px 10px;
}

#username {}

#password {}

.submit {}

#signup_container {}

#signup {}

#firstName {}

#lastName {}

#dateOfBirth {}

#username1 {}

#password1 {}

#follow {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/*Services Page*/

#handyman_container {}

#handyman {}

.name {}

.city {}

.mobile {}

.personName {}

.personCity {}

.personMobile {}

#electrician_container {}

#electrician {}

#plumber_container {}

#plumber {}

#cleaner_container {}

#cleaner {}


/*Contact Us*/

#contactus_container {}

#contactus {}

#firstName1 {}

#lastName1 {}

#mobile {}

#email {}

#message {}

.submit {}

#cancel {}

@media screen and (max-width: 600px) {
    #menu a:not(:first-child) {
        display: none;
    }
    #menu a.icon {
        float: right;
        display: block;
    }
}