/*Index Page */

body {
    background-color: #00203f;
    font-size: 15px;
}

#menu {
    overflow: hidden;
}

#menu a {
    float: left;
    color: #f2f2f2;
    font-weight: bold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

#menu li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu a:hover {
    background-color: #ddd;
    color: black;
}

#menu a.active {
    background-color: #00203FFF;
    color: white;
}

.logo-img {
    float: right;
    position: relative;
    margin: 10px 15px 15px 10px;
}

#company_name {
    font-family: sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

#aboutus_container {
    padding: 5px;
    margin: 10px;
}

#aboutus_container p {
    font-family: sans-serif;
    font-size: large;
    font-style: normal;
    color: #ADEFD1FF
}

#login_container {
    padding: 5px;
    margin: 10px;
    float: left;
    width: 25%;
    height: 280px;
}

#login_container h2 {
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
    color: #ddd;
}

#login_container legend {
    font-weight: normal;
    color: white;
    padding: 5px 10px;
}

#signup_container {
    padding: 5px;
    margin: 10px;
    float: left;
    width: 25%;
    height: 280px;
}

#signup_container h2 {
    font-family: sans-serif;
    font-size: large;
    font-weight: bold;
    color: #ddd;
}

#signup_container legend {
    font-weight: normal;
    color: white;
    padding: 5px 10px;
}

#username {
    color: red;
    font-weight: bold;
}

#password {
    color: red;
    font-weight: bold;
}

.submit {
    background-image: linear-gradient(#f7f8fa, #e7e9ec);
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .6) 0 1px 0 inset;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 14px;
    height: 29px;
    font-size: 13px;
    outline: 0;
    overflow: hidden;
    padding: 0 11px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.submit:active {
    border-bottom-color: #a2a6ac;
}

.submit:active:hover {
    border-bottom-color: #a2a6ac;
}

.submit:hover {
    border-color: #a2a6ac #979aa1 #82858a;
}

.submit:focus {
    border-color: #e77600;
    box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
    outline: 0;
}

#cancel {
    background-image: linear-gradient(#f7f8fa, #e7e9ec);
    border-color: #adb1b8 #a2a6ac #8d9096;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    box-shadow: rgba(255, 255, 255, .6) 0 1px 0 inset;
    box-sizing: border-box;
    color: #0f1111;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 14px;
    height: 29px;
    font-size: 13px;
    outline: 0;
    overflow: hidden;
    padding: 0 11px;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

#cancel:active {
    border-bottom-color: #a2a6ac;
}

#cancel:active:hover {
    border-bottom-color: #a2a6ac;
}

#cancel:hover {
    border-color: #a2a6ac #979aa1 #82858a;
}

#cancel:focus {
    border-color: #e77600;
    box-shadow: rgba(228, 121, 17, .5) 0 0 3px 2px;
    outline: 0;
}

#firstName {
    color: red;
    font-weight: bold;
}

#lastName {
    color: red;
    font-weight: bold;
}

#dateOfBirth {
    color: red;
    font-weight: bold;
}

#username1 {
    color: red;
    font-weight: bold;
}

#password1 {
    color: red;
    font-weight: bold;
}

#follow {
    background-color: white;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    justify-content: space-evenly;
    margin-top: 10rem;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 20px;
}


/*Services Page*/

#handyman_container {
    padding: 5px;
    margin: 10px;
    float: left;
    width: 25%;
    height: 280px;
    display: flex;
}

#cleaner_container {
    padding: 5px;
    margin: 10px;
    float: left;
    width: 25%;
    height: 280px;
    display: flex;
}

#electrician_container {
    padding: 5px;
    margin: 10px;
    float: left;
    width: 25%;
    height: 280px;
    display: flex;
}

#plumber_container {
    padding: 5px;
    margin: 10px;
    float: left;
    width: 25%;
    height: 280px;
    display: flex;
}

#handyman {}

.name {}

.city {}

.mobile {}

.personName {}

.personCity {}

.personMobile {}

#electrician {}

#plumber {}

#cleaner {}


/*Contact Us*/

#contactus_container {}

#contactus {}

#firstName1 {}

#lastName1 {}

#mobile {}

#email {}

#message {}

@media screen and (max-width: 600px) {
    #menu a:not(:first-child) {
        display: none;
    }
    #menu a.icon {
        float: right;
        display: block;
    }
}