/*Index Page */

body {
    background-color: beige;
    font-size: 15px;
}

#menu {
    overflow: hidden;
    background-color: #333;
}

#menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}

#menu li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: fit-content;
}

#menu a:hover {
    background-color: #ddd;
    color: black;
}

#menu a.active {
    background-color: #04AA6D;
    color: white;
}

.logo-img {
    float: right;
    position: relative;
    margin: 10px 15px 15px 10px;
}

#company_name {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-weight: bold;
    color: #046b99;
    text-align: center;
}

#aboutus_container {
    padding: 5px;
    margin: 10px;
}

#aboutus h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-style: normal;
    color: #a00000
}

#aboutus p {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: normal;
    color: #ffffff
}

#login_container {}

#login {}

#username {}

#password {}

.submit {}

#signup_container {}

#signup {}

#firstName {}

#lastName {}

#dateOfBirth {}

#username1 {}

#password1 {}

#follow {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/*Services Page*/

#handyman_container {}

#handyman {}

.name {}

.city {}

.mobile {}

.personName {}

.personCity {}

.personMobile {}

#electrician_container {}

#electrician {}

#plumber_container {}

#plumber {}

#cleaner_container {}

#cleaner {}


/*Contact Us*/

#contactus_container {}

#contactus {}

#firstName1 {}

#lastName1 {}

#mobile {}

#email {}

#message {}

.submit {}

#cancel {}

#follow {}